body {
	margin: 0;
	padding: 0;
	background: #2193b0;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.welcome {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.site-header {
	font-family: 'Gloria Hallelujah', cursive;
	color:#fff;
	display: inline-block;
}
.site-header .fa-robot {
	color:#fff;
	padding-left:45px;
}
.site-url {
	font-family: 'Roboto', sans-serif;
	font-size: 46px;
}


.site-header {
	font-size: 130px;
  }
  @include media-breakpoint-up(xs) {
	.site-header {
		font-size: 100px;
	}
  }

  @include media-breakpoint-up(sm) {
	.site-header {
		font-size: 80px;
	}
  }
  
  @include media-breakpoint-up(md) {
	.site-header {
		font-size: 100px;
	}
  }
  
  @include media-breakpoint-up(lg) {
	.site-header {
		font-size: 130px;
	}
  }